@model IEnumerable<NetCoreTrainingProject.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@Html.ActionLink("Книги", "Index", "Book")

<table>
    @foreach (var item in Model)
    {
     <tr>
        <td>@item.SurName</td>
        <td>@item.FirstName</td>
        <td>@item.Patronimic</td>
        <td>@Html.ActionLink("Детали", "Details", new { id = item.Id })</td>
     </tr>
    }
</table>
